<mat-toolbar color="primary">
  <span>Twitposter</span>
  <div class="spacer"></div>
  <a mat-button routerLink="/">Home</a>
  <a mat-button routerLink="/about">About</a>
  <a mat-button routerLink="/contact">Contact</a>
  <span>|</span>

  <ng-container *ngIf="account">
    <a mat-button routerLink="/profile">Hello, {{ account.firstName }}</a>
    <img
      class="profile-img"
      [src]="account.photoUrl ?? 'assets/images/profile.png'"
      alt="profile-img" />

    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>

  <a *ngIf="!account" mat-button routerLink="/login">Login</a>
  <div *ngIf="!account" id="google-signin-container"></div>
</mat-toolbar>
