.user-profile-form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.full-width {
  width: 100%;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
