<mat-card>
  <mat-card-header>
    <img mat-card-avatar ngSrc="assets/images/profile.png"
         class="author-photo"
         alt="profile image" height="256"
         width="256">
    <mat-card-title>{{ post.authorFirstName }} {{ post.authorLastName }}</mat-card-title>
    <mat-card-subtitle>{{ post.createdAt | date: 'medium' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ post.body }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button >Like ({{ post.likesCount }})</button>
    <a (click)="showComments = !showComments" mat-button>Comments ({{ post.commentsCount }})</a>
  </mat-card-actions>

  <mat-card-footer>
    <app-post-comments *ngIf="showComments" [postId]="post.id"></app-post-comments>
  </mat-card-footer>

</mat-card>




