<mat-card>
  <mat-card-header>
    <img mat-card-avatar ngSrc="assets/images/profile.png"
         class="author-photo"
         alt="profile image" height="256"
         width="256">
    <mat-card-title>{{ post.authorFirstName }} {{ post.authorLastName }}</mat-card-title>
    <mat-card-subtitle>{{ post.createdAt | date: 'medium' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ post.body }}</p>
  </mat-card-content>
  <mat-card-actions class="post-actions">
    <button mat-button>
      <mat-icon>thumb_up</mat-icon>  ({{ post.likesCount }})
    </button>
    <a (click)="showComments = !showComments" mat-button>Comments ({{ post.commentsCount }})</a>
  </mat-card-actions>

  <mat-card-footer>
    <mat-card class="comments" *ngIf="showComments">
      <app-post-comment *ngFor="let comment of comments" [comment]="comment"></app-post-comment>

      <!-- Input for new comment -->
      <mat-form-field class="comment-input" style="width: 100%;">
        <textarea matInput [(ngModel)]="newCommentText" placeholder="Add a comment..." rows="3"></textarea>
        <button mat-icon-button matSuffix >
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </mat-card>
  </mat-card-footer>

</mat-card>




